@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap");

/***** Base*****/
html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

a {
  color: #000000;
  text-decoration: dotted;
}

a:hover,
a:focus {
  color: #138904;
  border-bottom: dotted 2px #138904;
  font-weight: 500;
  text-decoration: none;
}
