.header {
  // background-color: seagreen;
  width: 100vw;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  .logo {
    font-weight: 100;
  }
}

.nav-items {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end;
  margin: 0px;
  .nav-item {
    margin-right: 20px;
    font-size: 0.8rem;
    a {
      color: #000000;
      text-decoration: dotted;
    }

    a:hover,
    a:focus {
      color: #00a781;
      border-bottom: dotted 2px #00a781;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.header-wrapper {
  height: 75px;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.green-accent {
  color: #00a781;
  font-weight: 400;
}
