.hero-section {
  // background-color: palevioletred;
  width: 100vw;
  border-bottom: 1px solid black;

  .hero-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    place-items: center;
  }

  .headshot-section {
    grid-column: 1/2;
    display: flex;
  }

  .mini-bio {
    grid-column: 2/3;

    h1 {
      color: #138904;
      margin: 15px 0;
    }

    p {
      line-height: 1.5em;
    }
  }
}
