.recent-work-section {
  width: 100vw;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 255, 201, 1) 50%,
    rgba(11, 170, 133, 1) 100%
  );

  img {
    width: 100%;
  }

  h2 {
    text-align: center;
    padding-top: 30px;
  }

  a {
    color: #00a781;
    border-bottom: dotted 2px #00a781;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    background-color: #000000;
    color: #00a781;
    border-bottom: dotted 2px #00a781;
    font-weight: 500;
    text-decoration: none;
  }

  .recent-work-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    grid-column-gap: 1em;

    .recent-work {
      box-shadow: 0px 4px 20px -7px rgba(0, 0, 0, 0.75);
      background-color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .recent-work-image {
      display: block;
      margin: auto;
    }

    .recent-work-content {
      padding: 10px;
    }
  }
}
